.page-container{
  .contact-list{
    display: flex;
    justify-content: center;

    .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo{
        background-color: transparent;
        width: 80px;
        height: 80px;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.2s;
        img{
          width: 90%;
        }
        &:hover{
          transform: scale(1.1);
        }
      }
      margin: 10px;
      .direction{
        font-weight: bold;
      }
    }
  }
}
