<section class="page-container bg-white">
  <div class="description font-black">
    <h3 class="title font-primary">👋 Hola, me llamo Gonzalo Zelaya y te doy la bienvenida a mi sitio personal.</h3>
    He estado estudiando programación por los últimos 3 años y he trabajado en muchos proyectos personales en el transcurso de ese tiempo,de los cuales puedes ver algunos en la sección PROYECTOS.<br>Actualmente me gustaria entrar en el mundo profesional y seguir desarrollando mis conocimientos.<br>Gracias por tu interés.
  </div>
  <div class="button-options">
    <a routerLink="/projects">
      <button>
        <fa-icon class="icon font-primary" [icon]="diagramIcon"></fa-icon>
        <p class="font-black">VER PROYECTOS</p>
      </button>
    </a>
    <a routerLink="/skills">
      <button>
        <fa-icon class="icon font-primary" [icon]="cubesIcon"></fa-icon>
        <p class="font-black">VER SKILLS</p>
      </button>
    </a>
    <a href="https://drive.google.com/file/d/1jZwYgaIFEQlLsm270DExnB5H-vBkIuRu/view?usp=sharing" target="_blank">
      <button>
        <fa-icon class="icon font-primary" [icon]="downloadIcon"></fa-icon>
        <p class="font-black">VER CV</p>
      </button>
    </a>
  </div>
  <div class="experience font-black">
    <h3 class="sub-title">Experiencia Academica</h3>
    <div class="exp-list">
      <app-academic-item *ngFor="let item of academicItems" [data]="item"></app-academic-item>
    </div>

  </div>
</section>
