.sidenav{
  width: 250px;
}
.content-container{
  min-height: 100vh;
  padding-top: 60px;
  background-color: antiquewhite;
  .content{
    margin: 0 20px;
  }
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
