<nav class="sidenav-container font-black">

  <div class="profile font-black">
    <img src="https://i.ibb.co/s9nf4KM/profile.jpg" class="img-profile">
    <p class="name ">Gonzalo Zelaya</p>
    <p class="ocupation">Full Stack Developer</p>
  </div>

  <ul class="list-data">
    <a *ngFor="let item of listItems" [href]="item.to" target="_blank" style="text-decoration: none;">
      <li  class="single-item font-black" [ngClass]="item.color"  (mouseover)="item.color='bg-primary'" (mouseout)="item.color='bg-white'">
        <fa-icon [icon]="item.icon" class="item-icon" [ngClass]="item.color != 'bg-primary' ?'font-primary':'font-white'"></fa-icon>
        <p matListItemLine>
          {{item.text}}
        </p>
      </li>
   </a>
  </ul>


</nav>
